.home-page {
  font-family: 'Arial', sans-serif;
  background-color: #f6f9fc;
}

.navbar {
  margin-bottom: 40px;
}
.navbar-brand {
  margin-left: auto;  
  margin-right: 270px; 
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 0 55px;
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
}


.welcome {
  text-align: center;
  margin-bottom: 40px;
}

.welcome-title {
  font-size: 24px;
  font-weight: bold;
  color: #202c45;
}

.welcome-subtitle {
  font-size: 16px;
  color: #8797af;
}

.exercise-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.date-picker {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.exercise-data-title {
  font-size: 18px;
  font-weight: bold;
  color: #202c45;
  margin-bottom: 20px;
}

.exercise-card {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.no-records {
  font-size: 14px;
  color: #8797af;
  margin-bottom: 20px;
}

.add-exercise-button {
  width: 75px;
  height: 75px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
