* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.home-page {
  text-align: center;
  height: 100%;
}
.navbar .navbar-brand {
  margin-left: 20px;
}

.content {
  margin: 0 auto;
  max-width: 800px; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.exercise-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-data {
  display: flex;
  justify-content: center;
}

.center-container {
  width: 100%;
}

.exercise-data-title {
  font-size: 20px;
  margin-bottom: 20px;
  min-height: 0;
}

.exercise-card {
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 10px; 
  margin-left: 20px; 
  margin-right: 20px; 
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome {
  margin-top: 20px;
}
.card-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.close {
  color: black;
}

.modal-body {
  padding-top: 20px;
}

.modal-footer {
  justify-content: center;
  border-top: none;
  margin-top: 20px;
}

.modal-footer .btn {
  width: 120px;
  margin: 0 10px;
}

.react-datepicker {
  display: inline-block;
}

.date-picker {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.add-exercise-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 32px;
  padding: 5px 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-records {
  color: gray;
  margin-top: 10px;
}
