.home-page {
  text-align: center;
  margin: 20px;
}
.navbar .navbar-brand {
  margin-left: 20px;
}
.exercise-card {
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow effect */
}

.card-title {
  font-size: 20px; /* Increase the size of exercise_name */
  font-weight: bold;
  margin-bottom: 10px;
}

.welcome-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.welcome-subtitle {
  font-size: 18px;
  color: gray;
  margin-bottom: 30px;
}

.content {
  margin-top: 50px;
}

.exercise-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-picker-container {
  margin-bottom: 20px;
}

.exercise-data {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center-container {
  width: 80%;
}

.exercise-data-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.exercise-card {
  margin-bottom: 20px;
}

.no-records {
  font-size: 16px;
  color: gray;
}

.add-exercise-button {
  margin-top: 20px;
}
.navbar {
  margin-bottom: 30px;
}

.modal-body {
  text-align: center;
}

.modal-footer {
  justify-content: center;
}

.card {
  width: 100%;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 5px;
}

.modal-content {
  border-radius: 10px;
}

.modal-header {
  border-bottom: none;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.close {
  color: black;
}

.modal-body {
  padding-top: 20px;
}

.modal-footer {
  justify-content: center;
  border-top: none;
  margin-top: 20px;
}

.modal-footer .btn {
  width: 120px;
  margin: 0 10px;
}

.react-datepicker {
  display: inline-block;
}

.date-picker {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ced4da;
}

.add-exercise-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-size: 32px;
  padding: 5px 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-records {
  color: gray;
  margin-top: 10px;
}
